.background{

  background-image: url("../assets/ocean.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
}

.animatedIn {

    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animatedUp {

    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeIn {

    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fadeUp {

    -webkit-animation-name: fadeUp;
    animation-name: fadeUp;
}

@-webkit-keyframes fadeUp {
  100% {

        top: 5%;
        height: 11vw;
        width: 33vw;
        transform: translateX(-50%);
    /*max-height: 100px !important;*/
  }
}

@keyframes fadeUp {

  100% {

        top: 5%;
        height: 11vw;
        width: 33vw;
        transform: translateX(-50%);
  }
}

.logo {

  /*height: 25vw;*/
}

.centered{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 22vw;
  width: 66vw;*/
}

.gauge{

  width: 30vw !important;
  height: 30vw !important;
  margin-top: 25%;
  opacity: 0;
}

.daily{

    margin-top: 7%;
    width: 85% !important;
    height: 45vw !important;
    opacity: 0;
}

.monthly{

  margin-top: 5%;
  width: 40% !important;
  height: 45vw !important;
  opacity: 0;
}
